@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {

    /* HSL color mode */
    --first-color: hsl(250, 69%, 61%);
    --first-color-second: hsl(250, 30%, 8%);
    --first-color-alt: hsl(250, 57%, 53%);
    --first-color-lighter: hsl(250, 92%, 85%);
    --title-color: hsl(250, 8%, 95%);
    --text-color: hsl(250, 8%, 75%);
    --text-color-light: hsl(250, 8%, 65%);
    --input-color: hsl(250, 29%, 16%);
    --body-color: hsl(250, 60%, 99%);
    --container-color: hsl(250, 29%, 16%);
    --scroll-bar-color: hsl(250, 12%, 90%);
    --scroll-thumb-color: hsl(250, 12%, 80%);
}

html {
    scroll-behavior: smooth;
  }
  
body {
    font-family:'Poppins', sans-serif;
    font-size: var(--normal-font-size);
    background-color: hsl(250, 30%, 8%);
    color: var(--text-color);
  }
  
h1, h2, h3, h4 {
  color: hsl(250, 8%, 95%);
  font-weight: 600;
}
header{
  text-align: center;
  font-size: 1.5rem;
}
input{
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    background-color: rgba(25, 12, 41,  .05);
    color: #ffff;   
    height: 1.5rem;
    border-width: 0.01px;
}
form{
  margin: 1rem;
  margin-top: rem;
}
pre {
  display: flex;
  height: 100%; /* Make the container fill its parent's height */
  margin: 0; /* Remove any default margin */
}
main{
  display: inline-flex;
}

.form-group {
  display: flex; 
  align-items: center; 
  margin-bottom: .5rem; 
}
.form-group label {
  flex: 1; 
  margin-right: .5rem; 
}
.form-group input {
  flex: 2;
}
.form-group select {
  flex: 2;
  margin-right: .5rem; 
}


.button{
    display: inline-block;
    border-radius: 0.5rem;
    background-color: hsl(250, 57%, 53%);
    color: #ffff;
    padding: 0.5rem;
    padding-top: 0.35rem;
    text-align: center;
    border-width: 0px;
    font-weight:500;
    margin-bottom: .5rem;
    margin-top: .5rem;
}       
.button:hover{
    background-color: #ffff;
    color: hsl(250, 57%, 53%);
}
.icon-button {
  background-color: hsl(250, 57%, 53%);
  color: #fff;
  border: none;
  border-radius: 50%; /* Set to 50% for a circular shape */
  width: 40px; /* Adjust the width to your desired size */
  height: 40px; /* Adjust the height to your desired size */
  display: flex;
  justify-content: center;
  align-items: center;
  float: right; 
  cursor: pointer;
}
.icon-button i {
  font-size: 30px; /* Adjust the font size to make the icon bigger */
}



.sidebar {
  height: 100%;
  width: 12rem;
  margin: 3rem;
  background-color: rgba(33, 29, 53, 0.8);
  box-shadow: 0 0 3rem 0 rgba(126, 40, 250, 0.5);
  border-radius: 0.5rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  padding-left: 15px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 16px;
  color: white; 
  display: block;
  flex: 1;
}
.sidebar i{
  font-size: 1.2rem;
  color: white; 
  text-align: left;
}
.sidebar ul {
  list-style-type: none;
  padding-left: 20px;
  display: none;
  margin-top:0px;
}
.sidebar ul li {
  margin-bottom: 5px;
}
.sidebar a:hover {
  background-color: hsl(250, 92%, 75%);
}
.rotate-icon {
  transition: transform 0.3s ease; /* Add a smooth transition */
}

.rotate-icon.rotate {
  transform: rotate(90deg); /* Rotate the icon 90 degrees */
}


.info-section {
  display: none;
  padding :3rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(33, 29, 53, 1);

}
.info-section pre {
  padding :2rem;  
  margin: auto; /* Center horizontally */
  justify-content: center;
  align-items: center;  
}
.path{
  position: absolute;
  display:none;
  right: 5%  ; /* Position it on the left side */
  top: 80%; /* Adjust the vertical position as needed */
  transform: translateY(-50%); /* Center it vertically */
  color: #5fa7fa; /* Your desired color here */
  background-color: rgba(33, 29, 53, .8);
  box-shadow: 0 0 1rem 0 rgba(126,40,250, .5);
  border-radius: 8px; 
  padding: 10px;

}

.popup{
  position: absolute;
  right: 1%  ; /* Position it on the left side */
  top: 55%; /* Adjust the vertical position as needed */
  transform: translateY(-50%); /* Center it vertically */
  color: #5fa7fa; /* Your desired color here */
  background-color: rgba(33, 29, 53, .8);
  box-shadow: 0 0 3rem 0 rgba(126,40,250, .5);
  border-radius: 8px; 
  padding: 10px;
}
#mynetwork {
    width: 70rem;
    height: 47rem;
    box-shadow: 0 0 3rem 0 rgba(254,1,154, .3); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .05);
    backdrop-filter: blur(5px);
}
#fileInput{
  display: none;
}

#edit-popUp {
    display: none;  
    position: absolute;
    text-align: center;
  } 
#mpath-popUp {
    display: none;  
    position: absolute;
    text-align: center;
  } 
#cpath-popUp {
    display: none;  
    position: absolute;
    text-align: center;
  } 
  #operation{
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    }
/* Center the graphInfo section */

